@import './variables.css';

.button {
  display: inline-block;
  padding: var(--spacing-half) var(--spacing-default);
  font-size: var(--font-size-default);
  color: var(--neutral-color--dark);
  background-color: var(--background-color);
  border: 1px solid var(--neutral-color--dark);
  border-radius: var(--border-radius-small);
}

.button:hover,
.button:focus {
  cursor: pointer;
  border: 1px solid var(--neutral-color--dark);
}

.button--primary {
  color: var(--background-color);
  background-color: var(--neutral-color--dark);
  border: 1px solid var(--neutral-color--dark);
}

.button--primary:hover,
.button--primary:focus {
  color: var(--background-color);
  background-color: var(--neutral-color--medium);
  border-color: var(--neutral-color--medium);
}

.button--pending::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  margin-top: -.25em;
  margin-left: -.25em;
  animation: button__spinner 2s linear infinite;
  background-image: url('/images/spinner.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

@keyframes button__spinner {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
