.form-label {
  display: block;
  margin-bottom: var(--spacing-half);
}

.form-field {
  margin-bottom: var(--spacing-double);
}

.form-control {
  padding: var(--spacing-half) var(--spacing-default);;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--text-color);
}

.form-control:focus {
  border-color: var(--focus-color);
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--text-light-color);
}

::-moz-placeholder {
  color: var(--text-light-color);
}

:-ms-input-placeholder {
  color: var(--text-light-color);
}

input[type='radio'] {
  border-radius: 50%;
  outline: none;
}

input[type='radio']:hover,
input[type='checkbox']:hover {
  cursor: pointer;
}

input[type='radio']:focus,
input[type='radio']:checked {
  border: 7px solid var(--text-color);
}

input[type='checkbox'] {
  position: relative;
}

input[type='checkbox']:before {
  position: absolute;
  left: 0;
  bottom: 1px;
  content: '\2714';
  font-size: var(--font-size-medium);
  opacity: 0;
  transition: opacity .1s ease-in-out;
}

input[type='checkbox']:checked:before {
  opacity: 1;
}

.form {
  font-size: var(--font-size-medium);
}

.fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.legend {
  margin-bottom: var(--spacing-half);
  font-weight: bold;
}

.input--checkbox,
.input--radio {
  width: 25px;
  height: 25px;
  border: 1px solid var(--text-color);
  appearance: none;
  vertical-align: -5px;
  transition: border .2s ease-in-out;
}

.submit-button {
  padding: var(--spacing-half) var(--spacing-default);
  color: var(--background-color);
  background-color: #696969;
  border: none;
}

.submit-button:hover {
  cursor: pointer;
}
