*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

figure {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.md-primary {
  z-index: 1;
}

.page {
  width: var(--width-large);
  padding: var(--spacing-double);
}

.device-mobile.device-Safari .page {
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
}

.page .md-link {
  margin: 0;
  padding: 0;
  color: var(--action-color);
  display: block;
  margin-left: auto;
  margin-bottom: var(--spacing-double);
}
