@import './variables.css';

body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: var(--font-size-default);
  color: var(--text-color);
  line-height: 1.5;
}

figcaption {
  margin-top: var(--spacing-half);
  text-align: center;
  color: var(--text-light-color);
  font-style: italic;
}

code,
pre {
  background-color: var(--neutral-color);
  border-radius: var(--border-radius-small);
}

code {
  padding: 3px;
}

pre {
  margin-bottom: var(--spacing-default);
  padding: var(--spacing-default);
  white-space: pre-wrap;
}

.h1,
h1 {
  font-size: var(--font-size-default);
  font-weight: bold;
}

.text--uppercase {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.title {
  font-size: var(--font-size-default);
  font-weight: bold;
}

.title--large {
  font-size: var(--font-size-large);
}

.title--small {
  font-size: var(--font-size-small);
}
