.slide-up-enter-active,
.slide-up-leave-active {
  transition: all .4s ease;
}

.slide-up-leave-active {
  transition: all .4s ease;
}

.slide-up-enter,
.slide-up-leave-to {
  transform: translatey(100%);
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}
